# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

client/node_modules
smart-contracts/node_modules
node_modules
dist
dist-ssr
*.local

.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
client/.DS_Store
client/package-lock.json
Backend/package-lock.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
client/.env

.wake
.vscode

CoinSafe_Core_Operations_Guide.md
CoinSafe_Email_Connection_Guide.md
CoinSafe_Quick_Start_Guide.md
CoinSafe_User_Guide.md
SaveSense_AI_Guide.md